# First Name: Christopher
# Last Name: Caferra

# Importing libraries

In [1]:
#import pandas & numpy
import pandas as pd
import numpy as np

# 1. Read in the nesarc.csv file

In [2]:
#read in csv file into 
nesarc = pd.read_csv('nesarc.csv', low_memory=False) #increase efficiency

# 2. Print the number of rows, columns in nesarc

In [3]:
print (len(nesarc)) #number of rows (observations)
print (len(nesarc.columns)) # number of columns (variables)

43093
760

# Printing the first 5 rows of nesarc

In [4]:
nesarc.head()  #print the first five rows

,S3BQ1A1,ETHRACE2A,ETOTLCA2,IDNUM,PSU,STRATUM,WEIGHT,CDAY,CMON,CYEAR,...,SOLP12ABDEP,HAL12ABDEP,HALP12ABDEP,MAR12ABDEP,MARP12ABDEP,HER12ABDEP,HERP12ABDEP,OTHB12ABDEP,OTHBP12ABDEP,NDSymptoms
0,0,5,,1,4007,403,3928.613505,14,8,2001,...,0,0,0,0,0,0,0,0,0,NaN
1,1,5,0.0014,2,6045,604,3638.691845,12,1,2002,...,0,0,0,0,0,0,0,0,0,NaN
2,2,5,,3,12042,1218,5779.032025,23,11,2001,...,0,0,0,0,0,0,0,0,0,NaN
3,3,5,,4,17099,1704,1071.754303,9,9,2001,...,0,0,0,0,0,0,0,0,0,NaN
4,4,2,,5,17099,1704,4986.952377,18,10,2001,...,0,0,0,0,0,0,0,0,0,NaN

# Convert Alcohol effects - 12 months (S2BQ1B1) to numeric & print first 10 rows

In [5]:
#Read in Alcohol effects - 12 months (S2BQ1B1)
nesarc['S2BQ1B1'] = pd.to_numeric(nesarc['S2BQ1B1'],errors='coerce') #convert variable to numeric
nesarc['S2BQ1B1'].head(10)  #print the first 10 rows

0    NaN
1    2.0
2    NaN
3    NaN
4    NaN
5    2.0
6    2.0
7    2.0
8    2.0
9    1.0
Name: S2BQ1B1, dtype: float64

# Print the count and percentage of  Alcohol effects - 12 months (S2BQ1B1)

In [6]:
#calculate counts for Alcohol effects - 12 months (S2BQ1B1) 
print ('counts for S2BQ1B1 alcohol effect in the past 12 months, yes=1') #better titles
c_al_dep = nesarc['S2BQ1B1'].value_counts(sort=False) #sort by values (not count)
print (c_al_dep)

#calculate percentages for Alcohol effects - 12 months (S2BQ1B1)
print ('percentages for S2BQ1B1 alcohol effect in the past 12 months, yes=1') #better titles
p_al_dep =  nesarc['S2BQ1B1'].value_counts(sort=False,normalize=True)#normalize=True will give percentage
print (p_al_dep)

counts for S2BQ1B1 alcohol effect in the past 12 months, yes=1
2.0    25309
1.0     1326
9.0      311
Name: S2BQ1B1, dtype: int64
percentages for S2BQ1B1 alcohol effect in the past 12 months, yes=1
2.0    0.939249
1.0    0.049210
9.0    0.011542
Name: S2BQ1B1, dtype: float64

# Convert Beer drinking status (S2AQ5A) to numeric & print first 10 rows

In [7]:
nesarc['S2AQ5A'] =  pd.to_numeric(nesarc['S2AQ5A'],errors='coerce')#convert smoking status to numeric
nesarc['S2AQ5A'].head(25)  #print the first 25

0     NaN
1     1.0
2     NaN
3     NaN
4     NaN
5     2.0
6     2.0
7     2.0
8     1.0
9     2.0
10    1.0
11    2.0
12    1.0
13    1.0
14    1.0
15    NaN
16    1.0
17    NaN
18    2.0
19    1.0
20    2.0
21    1.0
22    NaN
23    NaN
24    1.0
Name: S2AQ5A, dtype: float64

# Print the count and percentage of  Beer drinking status (S2AQ5A)

In [8]:
c_beer_status = nesarc['S2AQ5A'].value_counts(sort=False,dropna=False) #dropna=False to keep NaN in calculation
print ('counts for S2AQ5A beer drinking in the past year, yes=1')
print(c_beer_status)

p_beer_status = nesarc['S2AQ5A'].value_counts(sort=False,normalize=True)
print ('percentages for S2AQ5A beer drinking in the past year, yes=1')
print (p_beer_status)

counts for S2AQ5A beer drinking in the past year, yes=1
NaN     16147
 1.0    18346
 2.0     8562
 9.0       38
Name: S2AQ5A, dtype: int64
percentages for S2AQ5A beer drinking in the past year, yes=1
1.0    0.680843
2.0    0.317747
9.0    0.001410
Name: S2AQ5A, dtype: float64

# Convert HOW OFTEN DRANK BEER IN LAST 12 MONTHS (S2AQ5B) to numeric & print first 10 rows

In [9]:
nesarc['S2AQ5B'] = pd.to_numeric(nesarc['S2AQ5B'],errors='coerce')
nesarc['S2AQ5B'].head(10)

0     NaN
1    10.0
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     9.0
9     NaN
Name: S2AQ5B, dtype: float64

# Print the count and percentage of HOW OFTEN DRANK BEER IN LAST 12 MONTHS (S2AQ5B)

In [10]:
nesarc['S2AQ5B'] = nesarc['S2AQ5B'].astype('category') #set the data type as categorical data

c_beer_feq = nesarc['S2AQ5B'].value_counts(sort=False)
print ('counts for S2AQ5B â€“ usual frequency when drinking beer')
print(c_beer_feq)

p_beer_feq = nesarc['S2AQ5B'].value_counts(sort=False,normalize=True)
print ('percentages for S2AQ5B - usual frequency when drinking beer')
print (p_beer_feq)

counts for S2AQ5B â€“ usual frequency when drinking beer
1.0      836
2.0      645
3.0     1535
4.0     2190
5.0     2451
6.0     2603
7.0     2127
8.0     1194
9.0     2268
10.0    2442
99.0      55
Name: S2AQ5B, dtype: int64
percentages for S2AQ5B - usual frequency when drinking beer
1.0     0.045569
2.0     0.035158
3.0     0.083669
4.0     0.119372
5.0     0.133599
6.0     0.141884
7.0     0.115938
8.0     0.065082
9.0     0.123624
10.0    0.133108
99.0    0.002998
Name: S2AQ5B, dtype: float64

# Convert NUMBER OF BEERS USUALLY CONSUMED ON DAYS WHEN DRANK BEER IN LAST 12 MONTHS (S2AQ5D) to numeric & print first 10 rows

In [11]:
nesarc['S2AQ5D'] = pd.to_numeric(nesarc['S2AQ5D'],errors='coerce')
nesarc['S2AQ5D'].head(10)

0    NaN
1    1.0
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    1.0
9    NaN
Name: S2AQ5D, dtype: float64

# Print the count and percentage of NUMBER OF BEERS USUALLY CONSUMED ON DAYS WHEN DRANK BEER IN LAST 12 MONTHS (S2AQ5D)

In [12]:
c_beer_quan = nesarc['S2AQ5D'].value_counts(sort=False)
print ('counts for S2AQ5D usual quantity when drink beer')
print(c_beer_quan)

p_beer_quan = nesarc['S2AQ5D'].value_counts(sort=False,normalize=True)
print ('percentages for S2AQ5D usual quantity when drink beer')
print (p_beer_quan)

counts for S2AQ5D usual quantity when drink beer
1.0     7122
4.0     1224
2.0     4938
8.0      205
12.0     231
16.0       1
25.0       1
9.0       28
5.0      507
18.0      18
14.0       6
99.0      78
11.0       6
36.0       1
42.0       1
3.0     2564
10.0     108
6.0     1128
24.0      23
17.0       4
13.0       3
7.0      118
30.0       3
20.0       7
15.0      21
Name: S2AQ5D, dtype: int64
percentages for S2AQ5D usual quantity when drink beer
1.0     0.388205
4.0     0.066718
2.0     0.269159
8.0     0.011174
12.0    0.012591
16.0    0.000055
25.0    0.000055
9.0     0.001526
5.0     0.027635
18.0    0.000981
14.0    0.000327
99.0    0.004252
11.0    0.000327
36.0    0.000055
42.0    0.000055
3.0     0.139758
10.0    0.005887
6.0     0.061485
24.0    0.001254
17.0    0.000218
13.0    0.000164
7.0     0.006432
30.0    0.000164
20.0    0.000382
15.0    0.001145
Name: S2AQ5D, dtype: float64

# Use groupby () to calculate count & percentage for Alcohol effects - 12 months (S2BQ1B1)

In [13]:
#count using groupby
c_al_dep_alt = nesarc.groupby('S2BQ1B1').size()
print(c_al_dep_alt)

S2BQ1B1
1.0     1326
2.0    25309
9.0      311
dtype: int64

In [14]:
p_al_dep_alt = nesarc.groupby('S2BQ1B1').size()*100/len(nesarc)
print(p_al_dep_alt)

S2BQ1B1
1.0     3.077066
2.0    58.731116
9.0     0.721695
dtype: float64

# Obtain a subset of nesarc data, with the following criteria
# Age from 26 to 50
# Beer drinking status - S2AQ5A = Y

In [15]:
nesarc['AGE'] = pd.to_numeric(nesarc['AGE'],errors='coerce')

#subset data to young adults age 26 to 50 who have drink beer in the past 12 months
sub1 = nesarc[(nesarc['AGE']>=26) & (nesarc['AGE']<=50) & (nesarc['CHECK321']==1)]

#make a copy of the new subsetted data
sub2 = sub1.copy()

c5 = sub2['AGE'].value_counts(sort=False)
print ('counts for AGE')
print(c5)

p5 = sub2['AGE'].value_counts(sort=False, normalize=True)
print ('percentages for AGE')
print (p5)

counts for AGE
28    183
32    212
36    219
40    274
44    214
48    181
29    201
33    215
37    257
41    225
45    259
49    194
26    162
30    235
34    212
38    260
42    250
46    224
50    186
27    178
31    203
35    211
39    223
43    239
47    228
Name: AGE, dtype: int64
percentages for AGE
28    0.033609
32    0.038935
36    0.040220
40    0.050321
44    0.039302
48    0.033242
29    0.036915
33    0.039486
37    0.047199
41    0.041322
45    0.047567
49    0.035629
26    0.029752
30    0.043159
34    0.038935
38    0.047750
42    0.045914
46    0.041139
50    0.034160
27    0.032691
31    0.037282
35    0.038751
39    0.040955
43    0.043893
47    0.041873
Name: AGE, dtype: float64