# First Name: Christopher
# Last Name: Caferra

In [1]:
import pandas as pd
import numpy as np

In [2]:
nesarc = pd.read_csv('nesarc.csv', low_memory=False)
pd.set_option('display.float_format', lambda x:'%f'%x)

# Coding valid data

In [3]:
nesarc['CHECK321'] = pd.to_numeric(nesarc['CHECK321'], errors='coerce') #convert smoking status to numeric
nesarc['CHECK321'].head(25) #print the first 25

0         nan
1         nan
2         nan
3         nan
4         nan
5         nan
6         nan
7         nan
8         nan
9         nan
10   1.000000
11   2.000000
12        nan
13   1.000000
14   1.000000
15        nan
16   2.000000
17   1.000000
18   1.000000
19        nan
20   1.000000
21        nan
22   1.000000
23        nan
24        nan
Name: CHECK321, dtype: float64

In [4]:
nesarc['CHECK321'].fillna(11, inplace=True) #fill in nan value with 11
nesarc['CHECK321'].head(25)

0    11.000000
1    11.000000
2    11.000000
3    11.000000
4    11.000000
5    11.000000
6    11.000000
7    11.000000
8    11.000000
9    11.000000
10    1.000000
11    2.000000
12   11.000000
13    1.000000
14    1.000000
15   11.000000
16    2.000000
17    1.000000
18    1.000000
19   11.000000
20    1.000000
21   11.000000
22    1.000000
23   11.000000
24   11.000000
Name: CHECK321, dtype: float64

# Managing missing data

In [5]:
nesarc['S3AQ3B1'] = pd.to_numeric(nesarc['S3AQ3B1'],errors='coerce') #convert variable to numeric
nesarc['S3AQ3B1'].head()
#len(nesarc)

0   nan
1   nan
2   nan
3   nan
4   nan
Name: S3AQ3B1, dtype: float64

In [6]:
#subset data to young adults age 18 to 25 who have smoked in the past 12 months
sub1=nesarc[(nesarc['AGE']>=18) & (nesarc['AGE']<=25) & (nesarc['CHECK321']==1)]
sub1.head()

,S3BQ1A1,ETHRACE2A,ETOTLCA2,IDNUM,PSU,STRATUM,WEIGHT,CDAY,CMON,CYEAR,...,SOLP12ABDEP,HAL12ABDEP,HALP12ABDEP,MAR12ABDEP,MARP12ABDEP,HER12ABDEP,HERP12ABDEP,OTHB12ABDEP,OTHBP12ABDEP,NDSymptoms
20,20,2,0.0099,21,36094,3616,1528.354757,2,11,2001,...,0,0,0,0,0,0,0,0,0,2.000000
76,76,5,0.2643,77,36094,3616,6172.249980,13,3,2002,...,0,0,0,0,0,0,0,0,0,nan
102,102,1,0.985,103,41097,4107,5515.974591,27,10,2001,...,0,0,1,0,1,0,0,0,0,3.000000
121,121,1,0.8888,122,31098,3109,4152.434010,23,9,2001,...,0,0,0,0,0,0,0,0,0,3.000000
135,135,1,0.017,136,12042,1218,8657.814391,11,12,2001,...,0,0,0,0,1,0,0,0,0,0.000000

In [7]:
sub2 = sub1.copy()
sub2.head()
len(sub2)

1706

In [8]:
c_cig_feq = sub2['S3AQ3B1'].value_counts(sort=False, dropna=False)
print ('counts for original S3AQ3B1')
print(c_cig_feq)

counts for original S3AQ3B1
1.000000    1320
2.000000      68
4.000000      88
3.000000      91
5.000000      65
6.000000      71
9.000000       3
Name: S3AQ3B1, dtype: int64

In [9]:
sub2['S3AQ3B1']=sub2['S3AQ3B1'].replace(9, np.nan)

In [10]:
c_cig_feq_nan = sub2['S3AQ3B1'].value_counts(sort=False)
print ('counts for S3AQ3B1 with 9 set to NAN and number of missing requested')
print(c_cig_feq_nan)

counts for S3AQ3B1 with 9 set to NAN and number of missing requested
1.000000    1320
2.000000      68
4.000000      88
3.000000      91
5.000000      65
6.000000      71
Name: S3AQ3B1, dtype: int64

In [11]:
c_cig_quan = sub2['S3AQ3C1'].value_counts(sort=False,dropna=False)
print ('counts for S3AQ3C1') 
print(c_cig_quan)

counts for S3AQ3C1
3.000000     114
10.000000    387
20.000000    365
5.000000     163
8.000000      42
1.000000      83
2.000000     111
98.000000      1
30.000000     38
4.000000      84
12.000000     25
6.000000      60
13.000000      7
7.000000      45
15.000000     99
40.000000     30
14.000000      3
11.000000      3
60.000000      2
17.000000      2
25.000000     13
16.000000      5
27.000000      1
80.000000      1
9.000000       6
35.000000      1
24.000000      1
19.000000      1
18.000000      3
28.000000      1
99.000000      9
Name: S3AQ3C1, dtype: int64

In [12]:
sub2['S3AQ3C1']=sub2['S3AQ3C1'].replace(99, np.nan)
c_cig_quan_nan = sub2['S3AQ3C1'].value_counts(sort=False)
print ('counts for S3AQ3C1 with 99 set to NAN')
print(c_cig_quan_nan)

counts for S3AQ3C1 with 99 set to NAN
3.000000     114
10.000000    387
20.000000    365
5.000000     163
8.000000      42
1.000000      83
2.000000     111
98.000000      1
30.000000     38
4.000000      84
12.000000     25
6.000000      60
13.000000      7
7.000000      45
15.000000     99
40.000000     30
14.000000      3
11.000000      3
60.000000      2
17.000000      2
25.000000     13
16.000000      5
27.000000      1
80.000000      1
9.000000       6
35.000000      1
24.000000      1
19.000000      1
18.000000      3
28.000000      1
Name: S3AQ3C1, dtype: int64

# Recoding values

In [13]:
c_cig_feq = sub2['S3AQ3B1'].value_counts(sort=False) #get count in each category
print ('counts for S3AQ3B1')
print(c_cig_feq)

counts for S3AQ3B1
1.000000    1320
2.000000      68
4.000000      88
3.000000      91
5.000000      65
6.000000      71
Name: S3AQ3B1, dtype: int64

In [14]:
recode1 = {1: 6, 2: 5, 3: 4, 4: 3, 5: 2, 6: 1} #recoding so that higher numbers mean more smoking frequency
sub2['USFREQ'] = sub2['S3AQ3B1'].map(recode1)

recode_cig_feq = sub2['USFREQ'].value_counts(sort=False) #get count in each category
print ('counts for USFREQ')
print(recode_cig_feq)

counts for USFREQ
6.000000    1320
5.000000      68
3.000000      88
4.000000      91
2.000000      65
1.000000      71
Name: USFREQ, dtype: int64

In [15]:
#recoding values for S3AQ3B1 into a new variable, USFREQMO
recode2 = {1:30, 2:22, 3:14, 4:5, 5:2.5, 6:1} #recode to quantitative variable
sub2['USFREQMO']= sub2['S3AQ3B1'].map(recode2)

recode_cig_feq_m = sub2['USFREQMO'].value_counts(sort=False) #get count in each category
print ('counts for USFREQMO')
print(recode_cig_feq_m)

counts for USFREQMO
30.000000    1320
22.000000      68
5.000000       88
14.000000      91
2.500000       65
1.000000       71
Name: USFREQMO, dtype: int64

# Creating secondary variable

In [16]:
#secondary variable multiplying the number of days smoked/month and the approx number of cig smoked/day
sub2['NUMCIGMO_EST']=sub2['USFREQMO'] * sub2['S3AQ3C1'] #get the number of cigarettes smoked per month
sub2['NUMCIGMO_EST'].head()

20     90.000000
76     66.000000
102   300.000000
121   300.000000
135   600.000000
Name: NUMCIGMO_EST, dtype: float64

# Grouping values within individual variables

In [17]:
#examining frequency distributions for age
c_age = sub2['AGE'].value_counts(sort=False)
print ('counts for AGE')
print(c_age)

counts for AGE
18    161
19    200
20    221
21    239
22    228
23    231
24    241
25    185
Name: AGE, dtype: int64

In [18]:
p_age = sub2['AGE'].value_counts(sort=False, normalize=True)
print ('percentages for AGE')
print (p_age)

percentages for AGE
18   0.094373
19   0.117233
20   0.129543
21   0.140094
22   0.133646
23   0.135404
24   0.141266
25   0.108441
Name: AGE, dtype: float64

In [19]:
# categorize quantitative variable based on customized splits using cut function
# splits into 3 groups (18-20, 21-22, 23-25) - remember that Python starts counting from 0, not 1
sub2['AGEGROUP3'] = pd.cut(sub2.AGE, [17, 20, 22, 25])
c_age_group = sub2['AGEGROUP3'].value_counts(sort=False, dropna=True)
print('counts for AGEGROUP3')
print(c_age_group)

print('percentages for AGEGROUP3')
p_age_group = sub2['AGEGROUP3'].value_counts(sort=False, normalize=True)
print(p_age_group)

counts for AGEGROUP3
(17, 20]    582
(20, 22]    467
(22, 25]    657
Name: AGEGROUP3, dtype: int64
percentages for AGEGROUP3
(17, 20]   0.341149
(20, 22]   0.273740
(22, 25]   0.385111
Name: AGEGROUP3, dtype: float64

In [20]:
#crosstabs evaluating which ages were put into which AGEGROUP3
print (pd.crosstab(sub2['AGEGROUP3'], sub2['AGE']))

AGE         18   19   20   21   22   23   24   25
AGEGROUP3
(17, 20]   161  200  221    0    0    0    0    0
(20, 22]     0    0    0  239  228    0    0    0
(22, 25]     0    0    0    0    0  231  241  185