# First Name: Christopher
# Last Name: Caferra

# Importing libraries

In [1]:
#import pandas & numpy
import pandas as pd
import numpy as np

# Read in the nesarc.csv file

In [2]:
#read in csv file into 
nesarc = pd.read_csv('nesarc.csv', low_memory=False) #increase efficiency

# getting the number of rows, columns and printing the first 5 rows

In [3]:
print (len(nesarc)) #number of rows (observations)
print (len(nesarc.columns)) # number of columns (variables)

nesarc.head() #print the first five rows

43093
760

,S3BQ1A1,ETHRACE2A,ETOTLCA2,IDNUM,PSU,STRATUM,WEIGHT,CDAY,CMON,CYEAR,...,SOLP12ABDEP,HAL12ABDEP,HALP12ABDEP,MAR12ABDEP,MARP12ABDEP,HER12ABDEP,HERP12ABDEP,OTHB12ABDEP,OTHBP12ABDEP,NDSymptoms
0,0,5,,1,4007,403,3928.613505,14,8,2001,...,0,0,0,0,0,0,0,0,0,NaN
1,1,5,0.0014,2,6045,604,3638.691845,12,1,2002,...,0,0,0,0,0,0,0,0,0,NaN
2,2,5,,3,12042,1218,5779.032025,23,11,2001,...,0,0,0,0,0,0,0,0,0,NaN
3,3,5,,4,17099,1704,1071.754303,9,9,2001,...,0,0,0,0,0,0,0,0,0,NaN
4,4,2,,5,17099,1704,4986.952377,18,10,2001,...,0,0,0,0,0,0,0,0,0,NaN

# Nicotine dependence - 12 months (TAB12MDX)

In [4]:
nesarc['TAB12MDX'] = pd.to_numeric(nesarc['TAB12MDX'],errors='coerce') #convert variable to numeric
nesarc['TAB12MDX'].head(25) #print the first 25 rows

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    1
11    0
12    0
13    0
14    1
15    0
16    0
17    1
18    0
19    0
20    1
21    0
22    1
23    0
24    0
Name: TAB12MDX, dtype: int64

In [5]:
#calculate counts 
c_nic_dep = nesarc['TAB12MDX'].value_counts(sort=False) #sort by values (not count)
print (c_nic_dep)

#calculate percentages
p_nic_dep = nesarc['TAB12MDX'].value_counts(sort=False, normalize=True) #normalize=True will give percentage
print (p_nic_dep)

0    38131
1     4962
Name: TAB12MDX, dtype: int64
0    0.884854
1    0.115146
Name: TAB12MDX, dtype: float64

In [6]:
print('counts for TAB12MDX') #add titles to understand output
print (c_nic_dep)

print('percentages for TAB12MDX') #add titles to understand output
print (p_nic_dep)

counts for TAB12MDX
0    38131
1     4962
Name: TAB12MDX, dtype: int64
percentages for TAB12MDX
0    0.884854
1    0.115146
Name: TAB12MDX, dtype: float64

In [7]:
print ('counts for TAB12MDX – nicotine dependence in the past 12 months, yes=1') #better titles
print (c_nic_dep)

print ('percentages for TAB12MDX nicotine dependence in the past 12 months, yes=1') #better titles
print (p_nic_dep)

counts for TAB12MDX – nicotine dependence in the past 12 months, yes=1
0    38131
1     4962
Name: TAB12MDX, dtype: int64
percentages for TAB12MDX nicotine dependence in the past 12 months, yes=1
0    0.884854
1    0.115146
Name: TAB12MDX, dtype: float64

# Cigarette smoking status (CHECK321)

In [8]:
nesarc['CHECK321'] = pd.to_numeric(nesarc['CHECK321'], errors='coerce') #convert smoking status to numeric
nesarc['CHECK321'].head(25) #print the first 25

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    1.0
11    2.0
12    NaN
13    1.0
14    1.0
15    NaN
16    2.0
17    1.0
18    1.0
19    NaN
20    1.0
21    NaN
22    1.0
23    NaN
24    NaN
Name: CHECK321, dtype: float64

In [9]:
c_cig_status = nesarc['CHECK321'].value_counts(sort=False) #get count in each category
print ('counts for CHECK321 smoked in the past year, yes=1')
print(c_cig_status)

p_cig_status = nesarc['CHECK321'].value_counts(sort=False, normalize=True) #get percentage
print ('percentages for CHECK321 smoked in the past year, yes=1')
print (p_cig_status)

counts for CHECK321 smoked in the past year, yes=1
1.0    9913
2.0    8078
9.0      22
Name: CHECK321, dtype: int64
percentages for CHECK321 smoked in the past year, yes=1
1.0    0.550325
2.0    0.448454
9.0    0.001221
Name: CHECK321, dtype: float64

# Usual frequency of smoked cigarettes (S3AQ3B1)

In [10]:
nesarc['S3AQ3B1'] = pd.to_numeric(nesarc['S3AQ3B1'], errors='coerce')
nesarc['S3AQ3B1'].head(25)

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    1.0
11    1.0
12    NaN
13    1.0
14    1.0
15    NaN
16    5.0
17    1.0
18    1.0
19    NaN
20    1.0
21    NaN
22    1.0
23    NaN
24    NaN
Name: S3AQ3B1, dtype: float64

In [11]:
c_cig_feq = nesarc['S3AQ3B1'].value_counts(sort=False)
print ('counts for S3AQ3B1 –usual frequency when smoked cigarettes')
print(c_cig_feq)

p_cig_feq = nesarc['S3AQ3B1'].value_counts(sort=False, normalize=True)
print ('percentages for S3AQ3B1 - usual frequency when smoked cigarettes')
print (p_cig_feq)

counts for S3AQ3B1 –usual frequency when smoked cigarettes
1.0    14836
4.0      747
2.0      460
9.0      102
5.0      409
3.0      687
6.0      772
Name: S3AQ3B1, dtype: int64
percentages for S3AQ3B1 - usual frequency when smoked cigarettes
1.0    0.823627
4.0    0.041470
2.0    0.025537
9.0    0.005663
5.0    0.022706
3.0    0.038139
6.0    0.042858
Name: S3AQ3B1, dtype: float64

In [12]:
nesarc['S3AQ3B1'] = nesarc['S3AQ3B1'].astype('category') #set the data type as categorical data

c_cig_feq = nesarc['S3AQ3B1'].value_counts(sort=False)
print ('counts for S3AQ3B1 –usual frequency when smoked cigarettes')
print(c_cig_feq)

p_cig_feq = nesarc['S3AQ3B1'].value_counts(sort=True, normalize=True)
print ('percentages for S3AQ3B1 - usual frequency when smoked cigarettes')
print (p_cig_feq)

counts for S3AQ3B1 –usual frequency when smoked cigarettes
1.0    14836
2.0      460
3.0      687
4.0      747
5.0      409
6.0      772
9.0      102
Name: S3AQ3B1, dtype: int64
percentages for S3AQ3B1 - usual frequency when smoked cigarettes
1.0    0.823627
6.0    0.042858
4.0    0.041470
3.0    0.038139
2.0    0.025537
5.0    0.022706
9.0    0.005663
Name: S3AQ3B1, dtype: float64

# Usual quantity when smoked cigarettes (S3AQ3C1)

In [13]:
nesarc['S3AQ3C1'] = pd.to_numeric(nesarc['S3AQ3C1'], errors='coerce')
nesarc['S3AQ3C1'] = nesarc['S3AQ3C1'].astype("category")#check code - M

c_cig_quan = nesarc['S3AQ3C1'].value_counts(sort=False)
print ('counts for S3AQ3C1 usual quantity when smoked cigarettes')
print(c_cig_quan)

p_cig_quan = nesarc['S3AQ3C1'].value_counts(sort=False, normalize=True)
print ('percentages for S3AQ3C1 usual quantity when smoked cigarettes')

print (p_cig_quan)

counts for S3AQ3C1 usual quantity when smoked cigarettes
1.0      934
2.0      884
3.0      923
4.0      573
5.0     1070
6.0      463
7.0      269
8.0      299
9.0       49
10.0    3077
11.0      23
12.0     230
13.0      34
14.0      25
15.0     851
16.0      40
17.0      22
18.0      59
19.0       5
20.0    5366
21.0       1
22.0      10
23.0       2
24.0       7
25.0     155
27.0       2
28.0       3
29.0       3
30.0     909
33.0       1
34.0       1
35.0      30
37.0       2
39.0       1
40.0     993
45.0       8
50.0     106
55.0       2
57.0       1
60.0     241
66.0       1
70.0      12
75.0       2
80.0      47
98.0      15
99.0     262
Name: S3AQ3C1, dtype: int64
percentages for S3AQ3C1 usual quantity when smoked cigarettes
1.0     0.051851
2.0     0.049076
3.0     0.051241
4.0     0.031810
5.0     0.059402
6.0     0.025704
7.0     0.014934
8.0     0.016599
9.0     0.002720
10.0    0.170821
11.0    0.001277
12.0    0.012769
13.0    0.001888
14.0    0.001388
15.0    0.047244
16.0    0.002221
17.0    0.001221
18.0    0.003275
19.0    0.000278
20.0    0.297896
21.0    0.000056
22.0    0.000555
23.0    0.000111
24.0    0.000389
25.0    0.008605
27.0    0.000111
28.0    0.000167
29.0    0.000167
30.0    0.050464
33.0    0.000056
34.0    0.000056
35.0    0.001665
37.0    0.000111
39.0    0.000056
40.0    0.055127
45.0    0.000444
50.0    0.005885
55.0    0.000111
57.0    0.000056
60.0    0.013379
66.0    0.000056
70.0    0.000666
75.0    0.000111
80.0    0.002609
98.0    0.000833
99.0    0.014545
Name: S3AQ3C1, dtype: float64

# Groupby - An alternative way to do count & percentages

In [14]:
#count using groupby
c_nic_dep_alt = nesarc.groupby('TAB12MDX').size()
print(c_nic_dep_alt)

TAB12MDX
0    38131
1     4962
dtype: int64

In [15]:
p_nic_dep_alt = nesarc.groupby('TAB12MDX').size()*100/len(nesarc)
print(p_nic_dep_alt)

TAB12MDX
0    88.485369
1    11.514631
dtype: float64

# Subset of data

In [16]:
nesarc['AGE'] = pd.to_numeric(nesarc['AGE'], errors='coerce')

#subset data to young adults age 18 to 25 who have smoked in the past 12 months
sub1=nesarc[(nesarc['AGE']>=18) & (nesarc['AGE']<=25) & (nesarc['CHECK321']==1)]

#make a copy of the new subsetted data
sub2 = sub1.copy()

c5 = sub2['AGE'].value_counts(sort=False)
print ('counts for AGE')
print(c5)

p5 = sub2['AGE'].value_counts(sort=False, normalize=True)
print ('percentages for AGE')
print (p5)

counts for AGE
18    161
19    200
20    221
21    239
22    228
23    231
24    241
25    185
Name: AGE, dtype: int64
percentages for AGE
18    0.094373
19    0.117233
20    0.129543
21    0.140094
22    0.133646
23    0.135404
24    0.141266
25    0.108441
Name: AGE, dtype: float64

# Column Names to upper case

In [17]:
#convert all column names to upper case
nesarc.columns = map(str.upper,nesarc.columns)

# avoid run time errors - bug fix for display formats

In [18]:
pd.set_option('display.float_format', lambda x:'%f'%x)